.hidden {
    display: none;
}

#title {
    width: 40px;
    margin: 0 auto;
    /* background: rgb(240, 117, 117); */
    text-align: center;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

body {
    background-image: url("https://raw.githubusercontent.com/yousafe007/blockchain-developer-bootcamp-final-project/main/app/assets/background.png");
}

#qrscan {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    min-width: 50px;
    /* height: 450px; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
    border-radius: 70px;
    background-color: #98ffc08c;
    min-height: 100px;
    overflow: hidden;
}

#qr-reader {
    width: 600px
}

#info {
    margin-bottom: 100px;

    padding-bottom: 10;
    offset-distance: 100px;
    border-radius: 60px;

}

#connected-badge{
    padding: 10px;
    color:white;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}

#submit-button{
    padding: 10px;
    border-radius:5cm;
    margin: 5px;


}

#search-button{
    padding: 10px;
    border-radius:5cm;
    margin: 5px;


}